#container{
  margin: 0 auto;
  width: 300+3*16px;
  text-align: left;
}

html {
   background: url("background.png") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size:cover;

}

a {
  color: #FFF;
}

nav a {
    border-radius: 0px;
    border: medium none;
    cursor: pointer;
    font-size: 1.125rem;
    margin: 0px 10px;
    padding: 10px 16px 24px;
    width: 30%;
    text-align: center;
    color: #FFF;
    font-family:comic sans ms, cursive, sans-serif;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:10 auto;
    width: 300;
    height: 50px;
    background-color: transparent;
}

.flex-item {
    background-color: transparent;
    width: 100px;
    height: 50px;
    margin: 5px;
}

.flex-container-til {
   display: -webkit-flex;
   display: flex;
   margin: 10 auto;
   width: 75 auto;
   height: 75 auto;
   background-color: white;
}

.flex-item-til {

   background-color: white;
   width: 50 auto;
   height: 50 auto;
   margin: 5px;
}

nav {
  margin: 5px 0px 0px;
  position: relative;
}
