/* Initial body */
body {
  left: 0;
  margin: 0;
  position: relative;
  background-color: #00CEFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px #0090B2;
}



.menu {
  background: #202024; 
  left: -285px; 
  height: 100%;
  position: fixed;
  width: 285px;
}



.jumbotron {
 
  height: 100%;
  width: auto;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #FF7900;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #FF7900;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.heading {
  text-align:center;
  margin:5px;
}

a {
  color:#FF7900;
}

.selfPortrait {
  z-index: 0;
  margin-right: 2%;
  margin-left:2%;
  position: relative;
  overflow: hidden;
}

.spBottomLeft {
  position: absolute;
  width:15%;
  height:auto;
  bottom: 0%;
  left: 0%;
}

.spBottomLeft:hover{
  opacity: 0.8;
}


.spMiddleLeft {
  position: absolute;
  width:15%;
  height:auto;
  bottom:20%;
  left:20%;
}

.spMiddleLeft:hover{
  opacity: 0.8;
}

.spMiddle {
  position: absolute;
  width:15%;
  height:auto;
  bottom: 40%;
  left: 40%;
}

.spMiddle:hover{
  opacity: 0.8;
}

.spMiddleRight {
  position: absolute;
  width:15%;
  height:auto;
  bottom: 60%;
  left: 60%;
}

.spMiddleRight:hover{
  opacity: 0.8;
}

.spTopRight {
  position: absolute;
  width:15%;
  height:auto;
  bottom: 80%;
  left: 80%;
}

.spTopRight:hover{
  opacity: 0.8;
}

.spTopRightText {
  position: absolute;
  bottom: 55%;
  left: 70%;
}

.spMidText {
  position: absolute;
  bottom: 30%;
  left: 56%;
}

.spBottomText {
  position: absolute;
  bottom: 17%;
  left: 36%;
}

.spList {
  position: absolute;
  bottom: -1%;
  left: 17%;
}

img {
  max-width: 100%;
  max-height: 100%;
  }

p {
  font-size: 2vmin;
  text-align: right;
}
