@import "tailwindcss";

#recipe-list li, #favorites-list li{
	@apply mt-2 bg-gray-100 p-4 border border-gray-300 rounded-md cursor-pointer transition-transform transform hover:-translate-y-1 hover:shadow-lg;
}

#recipe-details {
    @apply bg-white p-6 border border-gray-300 rounded-md shadow-md mt-6;
}

#recipe-details h2 {
    @apply text-2xl font-semibold mb-4 text-rose-400 border-b-4 border-rose-400 pb-2;
}

#recipe-details h3 {
    @apply text-xl mt-4 font-semibold;
}

#recipe-details ul, #recipe-details ol {
    @apply pl-6 text-gray-700;
}

#recipe-details ol {
    list-style-type: decimal !important;
}

:target:before {
content:"";
display:block;
height:140px; /* fixed header height*/
margin:-140px 0 0; /* negative fixed header height */
}